<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Marcas</title>
</head>
<body>

<h2>Listado de Marcas</h2>

<a th:href="@{/marcas/nuevo}">Nueva Marca</a>

<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Marca</th>
		<th>Acciones</th>
    </tr>
    <tr th:each="marca : ${marcas}">
        <td th:text="${marca.idMarca}"></td>
        <td th:text="${marca.marcaDesc}"></td>
		<td>
			<a
				th:ref="@{/marcas/editar/{id}(id=${marca.idMarca})}"
			>Editar</a>
		</td>
    </tr>
</table>

</body>
</html>